In [1]:
s = "012356789"

In [2]:
s[:5:-1]

'987'

In [24]:
s='my name is %10s and age is %.2d and cgpa %.2f  '% ('illiyas',23,7.7)
s

'my name is illiyas    and age is 23 and cgpa 7.70  '

In [27]:
s="my name {name} age {age}".format(name='illiyas',age=23)
s

'my name illiyas age 23'

In [28]:
"{:>2f}".format(10)

'10.000000'

In [30]:
score = 6
f" grade : {'pass' if score >= 60 else 'fail'}"

' grade : fail'

In [40]:
a=-20
"%u"%-20

'-20'

In [55]:
ord('%')

37

In [59]:
"%i"%1

'1'

In [54]:
chr(38)

'&'

In [68]:
num1 = 100
num2 = -5.0
message1 = "The value is %i." % num1
message2 = "The value is %d." % num2
message2

'The value is -5.'

In [76]:
class my:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def __str__(self):
        return f"name {self.name} age {self.age}"
    
    def __repr__(self):
        return f"name {self.name} age {self.age}"
obj=my('illiyas',23)
str(obj)
repr(obj)

'name illiyas age 23'

In [77]:
def __str__(x):
    return "hello"
str('abc')

'abc'

### list

In [79]:
import sys

In [84]:
l=[1,'a']
sys.getsizeof(l)

72

In [85]:
hash(l

TypeError: unhashable type: 'list'

In [86]:
t=(1,2,l)
hash(t)

TypeError: unhashable type: 'list'

In [87]:
l=[i for i in range(10)]

In [102]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
s='0123456789'
s[5:2:-1]

'543'

In [107]:
l[-2::-1]

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [117]:
sl=slice(1,6,1)

In [121]:
l[slice(0,len(l),1)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
def my_slice(ele,start,end,step):
    print(step)
    li=[]
    if step > 0:
        for i in range(start,end,step):
            li.append(ele[i])
    elif step < 0:
        li=[i for i in range(start,end,step)]
    else :
        print('not possible %d step' % step)
    return li
my_slice(l,9,0,-1)

-1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [139]:
l=[int(input()) for i in range(int(input()))]
s=1
for i in l:
    s *= i
print(l)

3
10
20
30
[10, 20, 30]

In [1]:
l=[int(input()) for i in range(int(input()))]
print(l)
lr=l[0]
for i in l:
    if i >lr:
        lr = i
print(lr)

5
10000000
1
5
100
50
[10000000, 1, 5, 100, 50]
10000000

In [2]:
l=[input() for i in range(int(input()))]
print(l)
cnt = 0
for i in l:
    if len(i) >= 2:
        if i[0] == i[-1]:
            cnt += 1
print(cnt)

4
abc
xyz
aba
1221
['abc', 'xyz', 'aba', '1221']
2

In [3]:
l=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
t=[i[1] for i in l]
print(t)
sl=[]
for i in l:
    if sl:
        pass
    else:
        sl.append(i)

[5, 2, 4, 3, 1]

In [5]:
l=t.copy()
l

[5, 2, 4, 3, 1]

In [24]:
l=[500,4,3000,2,1]
lc=l.copy()
ls=[]
n=len(lc)
for i in range(n):
    if l:
        m=l[0]
        for j in l:
            if j < m:
                m = j
        ls.append(m)
        print(j)
        l.remove(m)
    else :
        break
ls

1
2
3000
3000
3000

[1, 2, 4, 500, 3000]

In [30]:
l=[(2, 5), (1, -2), (4, 400000000000), (2, 3), (2, 1)]

In [31]:
lc=l.copy()
ls=[]
for i in range(len(l)):
    
    if lc :
        m=lc[0]
        for i in lc:
            if i[1] < m[1] :
                m = i
        ls.append(m)
        lc.remove(m)
ls

[(1, -2), (2, 1), (2, 3), (2, 5), (4, 400000000000)]

In [32]:
l=[1,2,3,4,5,1,2,3,6,2,1]
unq=[]
for i in l:
    if i not in unq:
        unq.append(i)
unq

[1, 2, 3, 4, 5, 6]

In [38]:
l = [input() for i in range(int(input()))]
if l:
    print('not empty')
else :
    print('empty')

0
empty

In [42]:
lc=[]
for i in l:
    lc.append(i)

In [43]:
lc

[]

In [44]:
l = [1,2,3,4,5]
l[1:3]=[10,20]

In [52]:
l[1:3].append(100)

In [54]:
l

[1, 10, 20, 4, 5]

In [58]:
l = [input() for i in range(int(input()))]
n=int(input('word length'))
wl=[]
for i in l:
    if len(i) > n:
        wl.append(i)
wl

5
pqr
abc
xyz
a
v
word length3

[]

In [59]:
l1 = [int(input()) for i in range(int(input("L1")))]
l2 = [int(input()) for i in range(int(input("L2")))]
re=False
for i in l1:
    if i in l2:
        re=True
re

L15
1
2
3
4
5
L23
1
10
122

True

In [69]:
import random
l=[1,2,3,4]
random.shuffle(l)
l

[3, 2, 1, 4]

In [71]:
sl = [i**2 for i in range(31)]
print(sl[:5]+sl[-5:])

[0, 1, 4, 9, 16, 676, 729, 784, 841, 900]

In [63]:
ls

In [83]:
for i in range(2,int(input())+1):
    flag=0
    for j in range(2,(i//2)+1):
        if i%j == 0:
            flag = 1
    if flag == 0:
        print(i)

50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [84]:
l=['a','b','c']
per=[]

In [ ]:
for i in l:
    al = [i for i in l if not in l]

In [27]:
lz = [[1,2,3,4],[10,20,30,40],[100,200,300,400],[1000,2000,3000,4000]]

In [30]:
lz[0:2][0][:2]

[1, 2]

In [26]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# my_list[0:2][1][0:2]
my_list[0:2]

[[1, 2, 3], [4, 5, 6]]

In [31]:
a=[1,2,3]
b=[1,2,3]
id(a)==id(b)

False

### tuple

In [52]:
class hello:
    def __init__(self,name):
        self.name = name 
    def printd(self):
        return f"hello {self.name}"
#     def __str__(self):
#         return f" name {self.name}"
#     def __repr__(self):
#         return f" name {self.name}"

obj=hello('illiyas')
# list(obj)
print(obj)

 name illiyas

In [37]:
hello.printd(obj,)

TypeError: hello.printd() missing 1 required positional argument: 'name'