string

In [1]:
a="abc"

In [6]:
c='122'
id(c)

2342864617968

In [4]:
id(a)

140732420787920

In [5]:
id(b)

140732420787920

In [2]:
hash(a)

520038242067862784

In [3]:
b=str('abc')
hash(b)

520038242067862784

In [7]:
hash(c)

3806137150252414695

In [8]:
a='abc'
b='abc'
id(a)==id(b)

True

In [15]:
class a:
    def __init__(self,a):
        pass

In [17]:
obj=a(1)
obj1=a(1)

In [18]:
id(obj)==id(obj1)

False

In [142]:
s=input()
l=len(s)
if l%2==0:
    if s[:l//2] == s[:(l//2)-1:-1]:
        print(f"{s} is palindrom or symmetric")
    else:
        print(f"{s} is not palindrom or symmetric")
else:
    if s[:l//2]==s[:l//2:-1]:
        print(f"{s} is palindrom or symmetric")
    else:
        print(f"{s} is not palindrom or symmetric")

abccba
abccba is palindrom or symmetric

In [65]:
s1='malayalam'
len(s1)
print(s1[5:10:-1])

In [33]:
s

'malayalam'

In [76]:
s='0123456789'
s[:-4:-1]

'987'

In [73]:
for i in range(9,1,-1):
    print(i)

9
8
7
6
5
4
3
2

In [131]:
s='helleh'
print(s[:len(s)//2])
print(s[:(len(s)//2)-1:-1])
s[:len(s)//2] == s[:(len(s)//2)-1:-1]

hel
hel

True

In [118]:
s[:len(s)//2]

'mala'

In [153]:
s=input()
flag="palindrom"
for i in range(len(s)//2):
    if s[i] != s[-(i+1)]:
        flag='not palindrom'
        break
print(flag)

ab
not palindrom

In [159]:
s=input()
print(s[::-1])
print("".join(list(reversed(s))))
rv=""
for i in range(len(s)-1,-1,-1):
    rv += s[i]
print(rv)

abcd
dcba
dcba
dcba

In [157]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [1]:
s=input()
l=[]
for i in s:
    l.append(i)
print("".join(l))

abc
abc

In [6]:
s=input()
re=s[0]+s[(len(s)//2)]+s[-1]
re

james

'jms'

In [9]:
s=input()
if len(s)%2 != 0:
    print(s[(len(s)//2)-1:(len(s)//2)+2])

JaSonAy
Son

In [13]:
s1=input()
s2=input()
s3=s1[:(len(s1)//2)]+s2+s1[len(s1)//2:]

Ault
kelly

In [15]:
s1,s2=input(),input()
f=s1[0]+s2[0]
m=s1[len(s1)//2]+s2[len(s2)//2]
e=s1[-1]+s2[-1]
re=f+m+e
re

America
Japan

'AJrpan'

In [16]:
l=""
u=""
for i in input():
    if i.islower():
        l += i
    else:
        u += i
print(l+u)

PyNaTive
yaivePNT

In [20]:
d=0
sp=0
a=0
for i in input():
    if i.isalnum():
        if i.isnumeric():
            d += 1
        else :
            a += 1
    else :
        sp += 1
print(f'char  {a} \nnum {d} \nspecial {sp}')

P@#yn26at^&i5ve
char  8
num 3
special 4

In [24]:
s1,s2 = input(),input()
s=""
for i in range(len(s1)):
    s += s1[i]+s2[-(i+1)]
s

abc
xyz

'azbycx'

In [26]:
s1,s2=input(),input()
re=True
for i in s1:
    if i not in s2:
        re = False
print(re)

Ynf
PYnative
False

In [27]:
main=input()
sub=input()
main.count(sub.upper())+main.count((sub.lower()))

Welcome to USA. usa awesome, isn't it?
usa

2

In [28]:
main.count('usa')

1

In [38]:
sm=0
count=0
s=input()
for i in s:
    if i.isdigit():
        count += 1
        sm += int(i)
print(f"sum {sm} average {sm/count}")

PYnative29@#8496
sum 38 average 6.333333333333333

In [33]:
'P'.isnumeric()

False

In [41]:
s=input()
ss=set(s)
re={}
for i in ss:
    re[i]=s.count(i)
re

apple

{'e': 1, 'a': 1, 'l': 1, 'p': 2}

In [55]:
occurance=-1
main=input()
sub=input()
for i in range(len(main)):
    if main[i:].count(sub) != 0:
        if sub in main[i:i+len(sub)]:
            occurance=i
    else :
        break
print(occurance)

Emma is a data scientist who knows Python. Emma works at google.
Emma
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
43

In [ ]:
for i in

'grgrgr'

In [56]:
main.rfind(sub)

43

In [67]:
l = []
s = ""
c=0
inp=input()
for i in inp:
    c +=1
    if inp.count('-') != 0:
        if i != "-":
            s += i
        else :
            l.append(s)
            s = ""
        if c == len(inp):
            l.append(s)
    else :
        break


print(l)

Emma-is-a-data-scientist
['Emma', 'is', 'a', 'data', 'scientist']

In [66]:
c
len(inp)

24

In [70]:
l=["Emma", "Jon", "", "Kelly", None, "Eric", ""]
for i in l:
    if i == "":
        l.remove(i)
l

['Emma', 'Jon', 'Kelly', None, 'Eric']

In [78]:
str1 = "/*Jon is @developer & musician"
re = ""
for i  in str1:
    if i.isalnum() or (i == " ") :
        re += i
re

'Jon is developer  musician'

In [81]:
for i in input():
    if i.isnumeric():
        print(i,end="")

I am 25 years and 10 months old
2510

In [82]:
l=input().split(' ')

for i in l:
    a = False
    n = False
    for j in i:
        if j.isalpha():
            a = True
        elif j.isnumeric():
            n = True
    if a and n :
        print(i)

Emma25 is Data scientist50 and AI Expert
Emma25
scientist50

In [84]:
s=input()
re=""
for i in s:
    if i.isalnum() or i.isspace():
        re += i
    else :
        re += '#'
re

/*Jon is @developer & musician!!

'##Jon is #developer # musician##'

In [85]:
import string 
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [87]:
s=input()
l=list(s)
for i in l:
    if l.count(i) >1:
        l.remove(i)
        
"".join(l)

pythonlobby

'pthnloby'

In [88]:
l=[1,1,1]
l.index(1)

0