In [3]:
nt = namedtuple('point',['x','y'])

In [5]:
a=nt(10,20)

In [9]:
a[1]

20

In [31]:
from collections import namedtuple
n,columns = int(input()),input()
std = namedtuple('student',columns)
row = [std(*(input().split())) for i in range(n)]
print((sum(int(sublist.MARKS) for sublist in row))/len(row))

5
ID         MARKS      NAME       CLASS
1          97         Raymond    7
2          50         Steven     4
3          91         Adrian     9
4          72         Stewart    5
5          80         Peter      6
3.0

In [32]:
row

[student(MARKS='1', a='97', b='Raymond', c='7'),
 student(MARKS='2', a='50', b='Steven', c='4'),
 student(MARKS='3', a='91', b='Adrian', c='9'),
 student(MARKS='4', a='72', b='Stewart', c='5'),
 student(MARKS='5', a='80', b='Peter', c='6')]

In [9]:
total = 0
for i in row:
    total += int(i.MARKS)
avg = total/len(row)
avg

78.0

In [20]:
from collections import namedtuple
car = namedtuple('Car')

c=car(100000, 30, 'Cyan','Y')
d=car(100000, 50, 'Cyan','Y')

print (c)

TypeError: namedtuple() missing 1 required positional argument: 'field_names'

In [21]:
from functools import reduce

In [26]:
l = [[1,2,3],[10,20,30],[100,200,300]]
3 + 30 + 300

TypeError: 'int' object is not subscriptable

In [34]:
a,b,c = 10,20,a+b

NameError: name 'a' is not defined

In [68]:
from collections import OrderedDict
store = OrderedDict()
for i in range(int(input())):
    item = input().split()
    if " ".join(item[:-1]) not in store:
        store[f'{" ".join(item[:-1])}'] = int(item[-1])
    else:
        store[f'{" ".join(item[:-1])}'] += int(item[-1])
for item,price in store.items() :print(item,price)

9
BANANA FRIES 12
POTATO CHIPS 30
APPLE JUICE 10
CANDY 5
APPLE JUICE 10
CANDY 5
CANDY 5
CANDY 5
POTATO CHIPS 30
BANANA FRIES 12
POTATO CHIPS 30
APPLE JUICE 10
CANDY 20

CANDY 10
POTATO CHIPS 30
BANANA FRIES 12

In [47]:
for i,j in enumerate(10):
    print(i,j)

TypeError: 'int' object is not iterable

In [86]:
from collections import Counter
items = [input() for i in range(int(input()))]
count = Counter(items)
print(len(count))
for i in count.values() : print(i,end=" ")

4
bcdef
abcdefg
bcde
bcdef
3
2 1 1

In [85]:
for i in count.values():print(i)

3

In [87]:
import time

In [123]:
n,m = list(map(int,input().split()))
main = list(map(int,input().split()))
A,B = input().split(),input().split()
happiness = 0
for i,j in zip(A,B) :
    if int(i) in main:
        happiness += 1
    if int(j) in main:
        happiness -= 1
print(happiness)

3 2
1 3 5
1 3
5 7
1

In [120]:
B[1 ] in main

False

In [115]:
happiness

0

In [109]:
a= 0
l = [10,1]
for i in l : a += 1  if i%2 !=0  else a

In [110]:
a

1