3. Write a Python program to display the current date and time.
Sample Output :
Current date and time :
2014-07-05 14:34:14

In [14]:
import time
t=time.time()

In [9]:
time.ctime()

'Tue May 23 07:22:55 2023'

In [16]:
time.gmtime(t)

time.struct_time(tm_year=2023, tm_mon=5, tm_mday=23, tm_hour=1, tm_min=59, tm_sec=0, tm_wday=1, tm_yday=143, tm_isdst=0)

In [17]:
time.ctime(t)

'Tue May 23 07:29:00 2023'

In [21]:
import datetime
datetime.datetime.now()

datetime.datetime(2023, 5, 23, 7, 36, 35, 474604)

In [22]:
now=datetime.datetime.now()

In [24]:
type(now)

datetime.datetime

In [31]:
now.strftime("%Y-%m-%d %H:%M:%S")

'2023-05-23 07:37:28'

4. Write a Python program that calculates the area of a circle based on the radius entered by the user.
Sample Output :
r = 1.1
Area = 3.8013271108436504

In [36]:
import numpy as np

In [38]:
r=float(input("Enter radius"))
area=(22/7)*r**2
area

Enter radius1.1

3.8028571428571434

5. Write a Python program that accepts the user's first and last name and 
prints them in reverse order with a space between them.

In [39]:
fname=input("Enter first name")
lname=input("Enter last name")
name=fname+" "+lname
name[::-1]

Enter first nameilliyas
Enter last namek

'k sayilli'

6. Write a Python program that accepts a sequence of comma-separated 
numbers from the user and generates a list and a tuple of those numbers.
Sample data : 3, 5, 7, 23
Output :
List : ['3', ' 5', ' 7', ' 23']
Tuple : ('3', ' 5', ' 7', ' 23')

In [45]:
s=input("enter number seperated by commas")
l=s.split(',')
t=tuple(l)
print(l)
t

enter number seperated by commas1,2,3,4,5
['1', '2', '3', '4', '5']

('1', '2', '3', '4', '5')

In [42]:
l=list(map(str,input("enter numbers separeted by comma").split(',')))
t=tuple(l)
print(l)
print(t)

enter numbers separeted by comma1,2,3,4,5
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

7. Write a Python program that accepts a filename from the user and prints the extension of the file.
Sample filename : abc.java
Output : java

In [46]:
s=input("Enter a filename")
s.split('.')[-1]

Enter a filenameabc.java

'java'

8. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [53]:
color_list = ["Red","Green","White" ,"Black",'orange','blue']
print(color_list[0],color_list[-1])

Red blue

In [54]:
color_list[0::len(color_list)-1]

['Red', 'blue']

9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).
exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [62]:
import datetime
exam_st_date = (11, 12, 2014)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 12 / 2014

Python: Input an integer (n) and computes the value of n+nn+nnn

In [64]:
a=int(input("Enter a number"))
n1=int("%s"%a)
n2=int("%s%s"%(a,a))
n3=int("%s%s%s"%(a,a,a))
n1+n2+n3

Enter a number5

615